.cardContainer{
    display: grid;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit,minmax(max(150px, 15%), 1fr));
    gap: 10px;
    margin-left: 10px;
  width: 100%;
}
.scoreCounter, .message {
    color: navy;
    text-shadow: 2px 2px 0 white;
    font-weight: bold;
    text-align: center;
}
.playAgain{
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 2rem;
  color: navy;
  text-shadow: 2px 2px 0 #FFD700;
}
.scoreCounter {
  font-size: 1.9rem;
}